@using BlazorSecretManager.Components.Dialogs
@using BlazorSecretManager.Entities
@using BlazorSecretManager.Hubs
@using BlazorSecretManager.Hubs.Dtos
@using BlazorSecretManager.Infrastructure
@using BlazorSecretManager.Services.Auth
@using BlazorSecretManager.Services.Messages
@using BlazorTrivialJs
@using eXtensionSharp
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable

<MudGrid>
    <MudItem xs="3" sm="3">
        <MudStack>
            <MudStack Row="true">
                <MudText Typo="Typo.h6" Style="align-self: center;">CHAT</MudText>
                <MudIconButton Icon="@Icons.Material.Filled.PersonSearch" OnClick="ShowUserSearchDialog"/>            
            </MudStack>
            <MudList T="ChatRoom" SelectedValue="_selectedChatRoom" SelectedValueChanged="OnSelectedChatRoom" Dense="true">
                @foreach (var item in _chatRooms)
                {
                    <MudListItem Value="item">@item.Name</MudListItem>
                }
            </MudList>
        </MudStack>
    </MudItem>
    <MudItem xs="9" sm="9">
        <MudPaper Elevation="1">
            <div id="chat-container" style="height: 450px; overflow-y: scroll;">
                <div id="scroll-top" style="height:1px;"></div>
                @foreach (var item in _chatMessages.xToList())
                {
                    <MudChat ChatPosition=item.Position Color=item.Color>
                        @if (item.Position == ChatBubblePosition.Start)
                        {
                            <MudChatHeader Name="@item.Name" Time="@item.ReceivedDate"/>
                        }
                        else
                        {
                            <MudChatHeader Time="@item.ReceivedDate"/>
                        }
                        <MudChatBubble>
                            <pre>@item.Message</pre>
                        </MudChatBubble>
                    </MudChat>
                }
            </div>
        </MudPaper>
        <br/>
        <MudStack Row="true">
                <textarea id="chatTextArea" @ref="textAreaRef" @bind="@_chatMessage" @bind:event="oninput" @onkeyup="HandleKeyUp" class="chat-input"
                          placeholder="input chat message"
                          rows="4" style="width:100%;"></textarea>
            @* <MudTextField T="string" *@
            @*               Label="MSG" *@
            @*               ValueChanged="MessageChange" *@
            @*               OnKeyUp="Callback" *@
            @*               @ref="_message"/> *@
            <MudIconButton Icon="@Icons.Material.Filled.Send" Color="Color.Info" Variant="Variant.Filled" OnClick="SendMessage"/>
        </MudStack>
    </MudItem>
</MudGrid>

@inject NavigationManager NavManager;
@inject IUserService UserService;
@inject ITrivialJs TrivialJs;
@inject IJSRuntime JsRuntime;
@inject IChatService ChatService;
@inject IDialogService DialogService;
@code {
    List<ChatRoom> _chatRooms = new();
    ChatRoom _selectedChatRoom = new();

    public List<ChatMessage> _chatMessages { get; set; } = new();
    private List<ChatUserModel> _chatUsers  = new();
    [Parameter] public UserSession UserSession { get; set; }
    
    private HubConnection _hubConnection;
    
    string _chatMessage;
    MudTextField<string> _message;
    private int _total;
    private List<Chat> _chats;
    protected override async Task OnInitializedAsync()
    {
        _chatUsers = await UserService.GetUsers();
        
        string baseUrl = NavManager.BaseUri;
        var hubUrl = baseUrl.TrimEnd('/') + ChatHub.HubUrl;
        
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(hubUrl)
            .WithAutomaticReconnect()
            .Build();

        _hubConnection.On<int, string, string, string, DateTime>("ReceiveMessage", ReceiveMessage);
        _hubConnection.Reconnected += HubConnectionOnReconnected;
        _hubConnection.Reconnecting += HubConnectionOnReconnecting;

        await _hubConnection.StartAsync();
    }

    int _pageNo = 0;
    int _pageSize = 10;
    bool _isBottom = false;
    [JSInvokable]
    public async Task OnScrollTopReached()
    {
        var temp = _pageNo + 1;
        var chats = await LoadMessages(_selectedChatRoom.Id, temp, _pageSize);
        if (chats.xIsNotEmpty())
        {
            RenderMessage(chats);
            _pageNo++;
            await JsRuntime.InvokeVoidAsync("scrollDownBy", 6);
            await Task.Delay(500);
            await InvokeAsync(StateHasChanged);
        }
    }
    
    private ElementReference textAreaRef;
    private DotNetObjectReference<ChatComponent> dotNetRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dotNetRef = DotNetObjectReference.Create(this);
            await JsRuntime.InvokeVoidAsync("preventEnterDefault", dotNetRef, textAreaRef);
            _chatRooms =  (await ChatService.GetRooms(this.UserSession.UserId)).ToList();
            
            await JsRuntime.InvokeVoidAsync("initializeDraggablePopup", "popup");
            await JsRuntime.InvokeVoidAsync("initializeResizablePopup", "popup");
            await JsRuntime.InvokeVoidAsync("observeScrollTop", DotNetObjectReference.Create(this));
        }

        if (_isBottom)
        {
            await TrivialJs.ScrollToBottom("chat-container");
            _isBottom = false;
        }
        
        //await JsRuntime.InvokeVoidAsync("maintainScrollPosition", DotNetObjectReference.Create(this));
        

        
    }

    async Task ReceiveMessage(int roomId, string fromUserId, string fromUserName, string message, DateTime dt)
    {
        if (_selectedChatRoom.Id == roomId)
        {
            if (fromUserId == UserSession.UserId)
            {
                _chatMessages.Add(new ChatMessage()
                {
                    Name = string.Empty,
                    Position = UserSession.UserId == fromUserId ? ChatBubblePosition.End : ChatBubblePosition.Start,
                    Color = UserSession.UserId == fromUserId ? Color.Secondary : Color.Primary,
                    Message = message,
                    ReceivedDate = $"{dt.ToLongDateString()} {dt.ToLongTimeString()}"
                });
            }
            else
            {
                _chatMessages.Add(new ChatMessage()
                {
                    Name = fromUserName,
                    Position = UserSession.UserId == fromUserId ? ChatBubblePosition.End : ChatBubblePosition.Start,
                    Color = UserSession.UserId == fromUserId ? Color.Secondary : Color.Primary,
                    Message = message,
                    ReceivedDate = $"{dt.ToLongDateString()} {dt.ToLongTimeString()}"
                });
            }            
        }
        //await TrivialJs.ScrollToBottom("chat-container");
        await InvokeAsync(StateHasChanged);
    }

        
    Task HubConnectionOnReconnecting(Exception arg)
    {
        Console.WriteLine("HubConnectionOnReconnecting");
        Console.WriteLine(arg.Message);
        return Task.CompletedTask;
    }    

    Task HubConnectionOnReconnected(string arg)
    {
        Console.WriteLine("HubConnectionOnReconnected");
        Console.WriteLine(arg);
        return Task.CompletedTask;
    }

    HashSet<string> _duplicate = new();
    async Task SendMessage()
    {
        await _hubConnection.SendAsync("SendMessage", _selectedChatRoom.Id, UserSession.UserId, _chatMessage);
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection != null)
        {
            _hubConnection.Reconnected -= HubConnectionOnReconnected;
            _hubConnection.Reconnecting -= HubConnectionOnReconnecting;
            await _hubConnection.DisposeAsync();
        }
        Console.WriteLine("chat dispose");
    }

    private async Task Callback(KeyboardEventArgs e)
    {   
        if (e.Code is "Enter")
        {
            if (_chatMessage.xIsEmpty()) return;
            
            if (_duplicate.Add(_chatMessage))
            {
                await SendMessage();
                await _message.Clear();
            }
            else
            {
                _duplicate.Clear();
            }
            Console.WriteLine("click");
        }
    }

    void MessageChange(string str)
    {
        _chatMessage = str;
    }
    
    private async Task HandleKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && e.ShiftKey)
        {
            // Shift + Enter → 줄바꿈 유지
            
        }
        else if(e.Key == "Enter" && !e.ShiftKey)
        {
            if(_chatMessage.xIsEmpty()) return;
            await SendMessage();
            _chatMessage = string.Empty;
        }
    }
    
    [JSInvokable]
    public async Task OnEnterPressed()
    {
        await SendMessage();
    }

    void RenderMessage(List<Chat> chats)
    {
        foreach (var chat in chats)
        {
            if (chat.FromUserId == UserSession.UserId)
            {
                _chatMessages.Insert(0, new ChatMessage()
                {
                    Name = string.Empty,
                    Position = UserSession.UserId == chat.FromUserId ? ChatBubblePosition.End : ChatBubblePosition.Start,
                    Color = UserSession.UserId == chat.FromUserId ? Color.Secondary : Color.Primary,
                    Message = chat.Message,
                    ReceivedDate = $"{chat.CreatedAt.ToLongDateString()} {chat.CreatedAt.ToLongTimeString()}"
                });
            }     
            else
            {
                _chatMessages.Insert(0, new ChatMessage()
                {
                    Name = chat.FromUserName,
                    Position = UserSession.UserId == chat.FromUserId ? ChatBubblePosition.End : ChatBubblePosition.Start,
                    Color = UserSession.UserId == chat.FromUserId ? Color.Secondary : Color.Primary,
                    Message = chat.Message,
                    ReceivedDate = $"{chat.CreatedAt.ToLongDateString()} {chat.CreatedAt.ToLongTimeString()}"
                });
            }
        }
        StateHasChanged();
        
    }

    async Task<List<Chat>> LoadMessages(int roomId, int pageNo, int pageSize)
    {
        var chats = await this.ChatService.GetChats(roomId, pageNo, pageSize);
        _total = chats.Item1;
        return chats.Item2.ToList();
    }

    async Task OnSelectedChatRoom(ChatRoom room)
    {
        _selectedChatRoom = room;
        _pageNo = 1;
        _total = 0;
        _chatMessages.Clear();
        var chats = await LoadMessages(_selectedChatRoom.Id, _pageNo, _pageSize);
        _isBottom = true;
        RenderMessage(chats);
    }

    private async Task ShowUserSearchDialog(MouseEventArgs obj)
    {
        var parameters = new DialogParameters()
        {
            {nameof(UserSession), UserSession},
        };
        var options = new DialogOptions()
        {
            FullWidth = true,
            MaxWidth = MaxWidth.Medium
        };
        var dlg = await DialogService.ShowAsync<ChatUserSearchDialog>(string.Empty, parameters, options);
        var result = await dlg.Result;
        if (!result.Canceled)
        {
            var roomModel = result.Data.xAs<ChatUserSearchDialog.CreateRoomModel>();
            if(roomModel.RoomName.xIsEmpty()) return;
            if(roomModel.RoomUsers.xIsEmpty()) return;

            var roomUsers = roomModel.RoomUsers.ToList();
            var exists = roomUsers.FirstOrDefault(m => m.Id == UserSession.UserId);
            if (exists.xIsNotEmpty())
            {
                roomUsers.Remove(exists);    
            }

            var id = await this.ChatService.CreateRoom(this.UserSession.UserId, roomModel.RoomName, roomUsers.Select(m => m.Id).ToArray());
            _chatRooms.Add(new ChatRoom()
            {
                Id = id,
                Name = roomModel.RoomName,
                OwnerId = this.UserSession.UserId,
                AttendUsers = roomUsers.Select(m => m.Id).xJoin(","),
                CreatedAt = DateTime.Now,
            });
        }
    }

}