@using System.Security.Claims
@using BlazorSecretManager.Hubs
@using BlazorSecretManager.Hubs.Dtos
@using BlazorSecretManager.Infrastructure
@using BlazorSecretManager.Services.Auth
@using BlazorTrivialJs
@using eXtensionSharp
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable
@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider/>
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<CascadingValue Value="State" IsFixed="true">
    <AuthorizeView>
        <Authorized>
            <MudLayout>
                <MudAppBar Elevation="0" Dense="false" Style="background: #d6e9fc;">
                    <MudIconButton Icon="@Icons.Material.Filled.Menu" Edge="Edge.Start" OnClick="DrawerToggle"/>
                    <MudText Style="font-weight: bold;" Color="Color.Dark">Blazor Secret Manager</MudText>
                    <MudSpacer/>
                    <div class="d-flex">
                        <MudTextField T="string" Variant="Variant.Outlined" Placeholder="Search menus"
                                      Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Error"
                                      ValueChanged="MenuSearchValueChange"
                                      Style="width: 800px;"
                                      @ref="_searchTextField"/>
                        <MudPopover Open="@__open" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" RelativeWidth="DropdownWidth.Relative" >
                            <div class="d-flex flex-column pa-1">
                                @foreach (var item in _content)
                                {
                                    <MudButton OnClick="@(() => Navigate(item.RouteUrl))">@item.Title</MudButton>
                                }
                            </div>
                        </MudPopover>
                    </div>
                    <MudSpacer/>
                    <MudBadge Color="Color.Secondary" Dot="true" Overlap="true" Visible="_noticeVisible">
                        <MudMenu Icon="@Icons.Material.Outlined.Notifications" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopCenter" PopoverClass="docs-layout-menu-shadow" ListClass="pa-2 docs-menu-list" LockScroll="true" Dense="true">
                            <div class="d-flex justify-space-between align-center px-2">
                                <MudText Typo="Typo.subtitle2">Notifications</MudText>
                                <MudButton Disabled="false" StartIcon="@Icons.Material.Filled.DoneAll" Variant="Variant.Text" Color="Color.Primary" Class="ml-16 mr-n2">Mark as read</MudButton>
                            </div>
                            @if (_noticeMessages.xIsNotEmpty())
                            {
                                @foreach (var item in _noticeMessages.Take(5))
                                {
                                    <MudBadge Color="Color.Secondary" Dot="true" Overlap="true" Visible="!item.IsRead" Style="display: inline;">
                                        <MudMenuItem OnClick="@(() => NotificationClick(item))">
                                            <MudText Typo="Typo.subtitle2">@item.Title</MudText>
                                            <MudText Typo="Typo.body2">@($"{item.Content} • {item.PublishDate.ToShortDateString()}")</MudText>
                                        </MudMenuItem>                                        
                                    </MudBadge>
                                    <MudDivider/>
                                }
                            }
                            else
                            {
                                <div class="d-flex justify-center align-center px-2 py-8 relative">
                                    <MudText Class="mud-text-secondary my-12">Nothing new :(</MudText>
                                    <MudBlazorLogo Class="docs-logo-filter mx-16 absolute"/>
                                </div>
                            }
                        </MudMenu>
                    </MudBadge>
                    <MudBadge Color="Color.Secondary" Dot="true" Overlap="true" Visible="_chatVisible">
                        <MudButton StartIcon="@Icons.Material.Outlined.Chat" OnClick="ToggleChat">CHAT</MudButton>
                    </MudBadge>
                    <MudMenu StartIcon="@Icons.Material.Filled.Language" Variant="Variant.Outlined" Style="margin: 10px;" Label="@AppState.SupportedLanguage[State.CurrentCulture]">
                        @foreach (var item in AppState.SupportedCultures)
                        {
                            <MudMenuItem OnClick="@(() => ChangeCulture(item.Value.Name))">@item.Key</MudMenuItem>
                        }
                    </MudMenu>
                    <MudButton Variant="Variant.Outlined" Style="margin: 10px;" OnClick="SettingClick">Settings</MudButton>
                    <MudButton Variant="Variant.Outlined" Style="margin: 10px;" Href="/logout">Logout</MudButton>
                </MudAppBar>
                <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
                    <NavMenu/>
                </MudDrawer>
                <MudMainContent>
                    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Style="padding: 10px;">
                        @if (forceLogout)
                        {
                            <p style="color: red;">다른 곳에서 로그인되었습니다. 다시 로그인하세요.</p>
                            <button>로그아웃</button>
                        }
                        else
                        {
                            @Body    
                        }
                    </MudContainer>
                </MudMainContent>
                <MudScrollToTop TopOffset="400" Style="z-index:2000;">
                    <MudFab StartIcon="@Icons.Material.Filled.KeyboardArrowUp" Color="Color.Primary" />
                </MudScrollToTop>

                <MudDrawer @bind-Open="@_open" Width="@_width" Height="@_height" Anchor="@_anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
                    <MudDrawerHeader>
                        <MudText Typo="Typo.h6">설정</MudText>
                    </MudDrawerHeader>
                    <MudStack Row="false">
                        <MudPaper Elevation="1" Style="margin: 20px; padding: 20px;">
                            <MudText Typo="Typo.caption">USER INFORMATION</MudText>
                            <br/>
                            <br/>
                            <MudStack Class="d-flex justify-end flex-grow-1 gap-4" Row="true">
                                <MudTextField T="string" Label="EMAIL" @bind-Value="_userSession.Email" ReadOnly="true"/>
                                <MudTextField T="string" Label="NAME" @bind-Value="_userSession.Name" ReadOnly="true"/>
                                <MudTextField T="string" Label="ROLE" @bind-Value="_userSession.Role" ReadOnly="true"/>
                                <MudTooltip Text="User Key">
                                    <MudIconButton Icon="@Icons.Material.Filled.ContentCopy" Color="Color.Info" Variant="Variant.Filled" OnClick="GetUserKey"/>
                                </MudTooltip>
                            </MudStack>
                        </MudPaper>
                    </MudStack>
                </MudDrawer>
                
                <MudDrawer @bind-Open="@_chatOpen" Width="@_width" Height="@_height" Anchor="@_anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
                    <MudDrawerHeader>
                        <MudText Typo="Typo.h6">CHAT</MudText>
                    </MudDrawerHeader>
                    <MudStack Row="false">
                        <MudPaper Elevation="1" Style="margin: 20px; padding: 20px;">
                            <MudText Typo="Typo.caption">CHAT</MudText>
                            <br/>
                            <br/>
                            <MudStack Class="d-flex justify-end flex-grow-1 gap-4" Row="true">
                                <MudSelect T="string" @bind-Value="_chatId" Label="Email">
                                    @foreach (var item in _chatUsers)
                                    {
                                        <MudSelectItem Value="item.Email">@item.Name</MudSelectItem>
                                    }
                                </MudSelect>
                                <MudTextField T="string" Label="MSG" @bind-Value="_chatMessage"/>
                                <MudIconButton Icon="@Icons.Material.Filled.Send" Color="Color.Info" Variant="Variant.Filled" OnClick="SendMessage"/>
                            </MudStack>
                            <div id="chatContainer" style="height: 500px; overflow-y: auto;">
                                @foreach (var item in _chatMessages.ToList())
                                {
                                    <MudChat ChatPosition=item.Position Color=item.Color>
                                        <MudChatHeader Name="@item.Email" Time="@item.ReceivedDate" />
                                        <MudChatBubble>
                                            @item.Message
                                        </MudChatBubble>
                                    </MudChat>
                                }
                            </div>
                        </MudPaper>
                    </MudStack>
                </MudDrawer>                
            </MudLayout>
        </Authorized>
        <NotAuthorized>
            @Body
        </NotAuthorized>
    </AuthorizeView>
</CascadingValue>

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@inject ProtectedSessionStorage ProtectedSessionStorage
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar
@inject AppState State
@inject ITrivialJs TrivialJs
@inject IUserService UserService;
@code {
    private bool forceLogout = false;
    private CancellationTokenSource _cts = new();

    private bool _drawerOpen = true;
    
    private bool _open;
    private Anchor _anchor;
    private string _width, _height;

    List<MenuRoute> _menuRoutes = new()
    {
        // new MenuRoute()
        // {
        //     Keywords = ["CRM", "사용자", "사이트", "관리자", "user", "site", "administrator"],
        //     RouteModels = [
        //         new RouteModel(){Title = "CRM 사용자", RouteUrl = "/userlist"},
        //         new RouteModel(){Title = "웰니스 사용자", RouteUrl = "/wellnessuserlist"},
        //     ]
        // },
        // new MenuRoute()
        // {
        //     Keywords = ["센서", ],
        //     RouteModels = [
        //         new RouteModel(){Title = "센서", RouteUrl = "/sensorlist"},
        //     ]
        // },
        // new MenuRoute()
        // {
        //     Keywords = ["메타데이터"],
        //     RouteModels = [
        //         new RouteModel(){Title = "메타데이터", RouteUrl = "/metadatalist"},
        //     ]
        // }
    };
    MudTextField<string> _searchTextField;
    UserSession _userSession = new();
    bool _popoverOpen;

    protected override void OnInitialized()
    {
        _cts.Token.Register(() =>
        {
            forceLogout = true;
            StateHasChanged();
        });
    }

    private HubConnection _hubConnection;
    private HubConnection _noticeHubConnection;
    private string _chatId;
    private string _chatMessage;
    private List<ChatMessage> _chatMessages = new();
    private List<ChatUserModel> _chatUsers = new();

    protected override async Task OnInitializedAsync()
    {
        _chatUsers = await UserService.GetUsers();
        
        string baseUrl = NavigationManager.BaseUri;
        var hubUrl = baseUrl.TrimEnd('/') + ChatHub.HubUrl;
        var noticeHubUrl = baseUrl.TrimEnd('/') + NoticeHub.HubUrl;

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(hubUrl)
            .WithAutomaticReconnect()
            .Build();

        _hubConnection.On<string, string, string, DateTime>("ReceiveMessage", ReceiveMessage);
        _hubConnection.Reconnected += HubConnectionOnReconnected;
        _hubConnection.Reconnecting += HubConnectionOnReconnecting;

        await _hubConnection.StartAsync();

        _noticeHubConnection = new HubConnectionBuilder()
            .WithUrl(noticeHubUrl)
            .WithAutomaticReconnect()
            .Build();
        _noticeHubConnection.Reconnected += HubConnectionOnReconnected;
        _noticeHubConnection.Reconnecting += HubConnectionOnReconnecting;        
        _noticeHubConnection.On<string, string, string>("ReceiveNotification", ReceiveNotification);
        await _noticeHubConnection.StartAsync();
    }
    
    Task HubConnectionOnReconnecting(Exception arg)
    {
        Console.WriteLine("HubConnectionOnReconnecting");
        Console.WriteLine(arg.Message);
        return Task.CompletedTask;
    }    

    Task HubConnectionOnReconnected(string arg)
    {
        Console.WriteLine("HubConnectionOnReconnected");
        Console.WriteLine(arg);
        return Task.CompletedTask;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var state = await AuthStateProvider.GetAuthenticationStateAsync();
            var user = state.User;
            if(!user.Identity.IsAuthenticated)
            {
                NavigationManager.NavigateTo($"/signin");
                return;
            }

            var userId = state.User.Claims.First(m => m.Type == ClaimTypes.NameIdentifier).Value;
            var email = state.User.Claims.First(m => m.Type == ClaimTypes.Email).Value;
            var name = state.User.Claims.First(m => m.Type == ClaimTypes.Name).Value;
            var key = state.User.Claims.First(m => m.Type == ClaimTypes.PrimarySid).Value;
            var phone = state.User.Claims.First(m => m.Type == ClaimTypes.MobilePhone).Value;
            var role = state.User.Claims.First(m => m.Type == ClaimTypes.Role).Value;

            _userSession = new UserSession()
            {
                UserId = userId,
                Email = email,
                Name = name,
                Role = role,
                UserKey = key,
                Phone = phone,
            };

            var currentCulture = await ProtectedSessionStorage.GetAsync<string>("CurrentCulture");
            if (currentCulture.Success.xIsFalse())
            {
                var browserInfo = await TrivialJs.GetBrowserInfo();
                State.CurrentCulture = browserInfo["language"];
            }
        }
        
        if (_chatMessages.Count > 0) // 메시지가 있을 때만 실행
        {
            await TrivialJs.ScrollToBottom("chatContainer");
        }
    }

    private bool _chatVisible = false;
    private bool _chatOpen = false;
    async Task ReceiveMessage(string from, string to, string message, DateTime dt)
    {
        if (to == _userSession.Email)
        {
            _chatMessages.Add(new ChatMessage()
            {
                Email = to,
                Position = _userSession.Email == from ? ChatBubblePosition.End : ChatBubblePosition.Start,
                Color = _userSession.Email == from ? Color.Secondary : Color.Primary,
                Message = message,
                ReceivedDate = $"{dt.ToLongDateString()} {dt.ToLongTimeString()}"
            });
            _chatVisible = true;
        }
        else if (from == _userSession.Email)
        {
            _chatMessages.Add(new ChatMessage()
            {
                Email = from,
                Position = _userSession.Email == from ? ChatBubblePosition.End : ChatBubblePosition.Start,
                Color = _userSession.Email == from ? Color.Secondary : Color.Primary,
                Message = message,
                ReceivedDate = $"{dt.ToLongDateString()} {dt.ToLongTimeString()}"
            });
        }
        await InvokeAsync(StateHasChanged);
    }

    void ToggleChat()
    {
        _chatOpen = true;
        if (_chatVisible)
        {
            _chatVisible = !_chatVisible;    
        }
        _anchor = Anchor.End;

        switch (_anchor)
        {
            case Anchor.Start:
                _width = "300px";
                _height = "100%";
                break;
            case Anchor.End:
                _width = "40%";
                _height = "100%";
                break;
            case Anchor.Bottom:
                _width = "100%";
                _height = "200px";
                break;
            case Anchor.Top:
                _width = "100%";
                _height = "350px";
                break;
        }        
    }

    List<NoticeMessage> _noticeMessages = new();
    async Task ReceiveNotification(string userId, string type, string message)
    {
        var notice = message.xDeserialize<NoticeMessage>();
        if (userId.xIsNotEmpty())
        {
            if (userId == _userSession.UserId)
            {
                _noticeMessages.Add(notice);                
            }
        }
        else
        {
            _noticeMessages.Add(notice);
        }

        _noticeVisible = true;
        
        await InvokeAsync(StateHasChanged);
    }
    
    private bool _noticeVisible = false;
    async Task NotificationClick(NoticeMessage item)
    {
        //this._noticeMessages.Remove(item);
        item.IsRead = true;
        _noticeVisible = this._noticeMessages.Any(m => m.IsRead == false);
    }

    async Task SendMessage()
    {
        await _hubConnection.SendAsync("SendMessage", _userSession.Email, _chatId, _chatMessage);
    }
    
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    
    private void SettingClick()
    {
        _open = true;
        _anchor = Anchor.End;

        switch (_anchor)
        {
            case Anchor.Start:
                _width = "300px";
                _height = "100%";
                break;
            case Anchor.End:
                _width = "40%";
                _height = "100%";
                break;
            case Anchor.Bottom:
                _width = "100%";
                _height = "200px";
                break;
            case Anchor.Top:
                _width = "100%";
                _height = "350px";
                break;
        }
    }

    void MenuSearchValueChange(string obj)
    {
        if (obj.xIsEmpty())
        {
            __open = false;
            return;
        }
        
        if (obj.Length >= 2)
        {
            if (!__open)
                __open = true;

            _content.Clear();
            var state = _menuRoutes.Where(m => m.Keywords.Any(x => x.Contains(obj))).ToList();
            foreach (var route in state)
            {
                _content.AddRange(route.RouteModels);
            }
        }
        else
        {
            if (__open)
                __open = false;            
        }
    }
    
    private List<RouteModel> _content = new();
    
    public bool __open;

    
    class MenuRoute
    {
        public string[] Keywords { get; set; }
        public List<RouteModel> RouteModels { get; set; }
    }

    class RouteModel
    {
        public string Title { get; set; }
        public string RouteUrl { get; set; }
    }
    
    private void Navigate(string url)
    {
        NavigationManager.NavigateTo(url);
        _searchTextField.Clear();
        __open = false;
    }

    private async Task GetUserKey(MouseEventArgs obj)
    {
        await JSRuntime.InvokeVoidAsync("copyToClipboard", this._userSession.UserKey);
        this.Snackbar.Add("copied", Severity.Success);
    }

    private async Task ChangeCulture(string obj)
    {
        State.CurrentCulture = obj;
        _popoverOpen = !_popoverOpen;
        await ProtectedSessionStorage.SetAsync("CurrentCulture", State.CurrentCulture);
        StateHasChanged();
    }

    private void PopoverOpen()
    {
        _popoverOpen = !_popoverOpen;
    }


    public async ValueTask DisposeAsync()
    {
        if (_cts != null) await CastAndDispose(_cts);
        if (_searchTextField != null) await _searchTextField.DisposeAsync();
        if (_hubConnection != null)
        {
            _hubConnection.Reconnected -= HubConnectionOnReconnected;
            _hubConnection.Reconnecting -= HubConnectionOnReconnecting;
            await _hubConnection.DisposeAsync();
        }

        if (_noticeHubConnection != null)
        {
            _noticeHubConnection.Reconnected -= HubConnectionOnReconnected;
            _noticeHubConnection.Reconnecting -= HubConnectionOnReconnecting;
            await _noticeHubConnection.DisposeAsync();
        }
        if (Snackbar != null) await CastAndDispose(Snackbar);

        return;

        static async ValueTask CastAndDispose(IDisposable resource)
        {
            if (resource is IAsyncDisposable resourceAsyncDisposable)
                await resourceAsyncDisposable.DisposeAsync();
            else
                resource.Dispose();
        }
    }

}